<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" routerLink="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/tasks">Tasks</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/clickers">Clickers</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/heroes">Heroes</a>
                </li>
            </ul>
            <app-hero-search class="form-inline my-2 my-lg-0"></app-hero-search>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-4">
            <app-messages [messages]="messages$ | async"></app-messages>
        </div>
    </div>
</div>