<div class="card border-dark mb-3">
    <div class="card-header">Task List</div>
    <div class="card-body text-dark">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let t of taskList">
                <div class="row">
                    <div class="col-sm-6">Description: {{t.description}}</div>
                    <div class="form-check col-sm-2">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" [checked]="t.completed"> Completed
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" (click)="deleteTask(t)">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
